.my-link{
  font-weight: 700;
  transition: .3s;
}

.my-link.small {
  text-transform: uppercase;
  width: max-content;
  text-decoration: underline;
  margin-bottom: 20px;

  &:hover {
    color: white;
    background: #000;
    text-decoration: none;
  }
}

.my-link.big {
  width: 100%;
  font-size: 36px;
  display: flex;
  flex-direction: column;

  &:hover {
    &::after {
      height: 10px;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
  }
}
