@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



.h1-50{
    font-family: 'adineue PRO Cyr', sans-serif;
    font-style: normal;
    font-size: 50px;
    line-height: 120%;
}

.h1-48-ubuntu{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
}

.h1-40 {
    font-family: 'adineue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 120%;
}

.h1-16-mont {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.h1-16-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.h1-20-mont {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.h1-22{
    font-family: 'adineue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
}

.h1-15{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.h1-20-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

html {
    overflow-x: hidden;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background: #2D2D2D;
    color: #FFFFFF;
}

.main__container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container {
    max-width: 1270px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto; }

.content__container {
    margin-left: auto;
    margin-right: auto; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

a {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit; }

input, button {
    font-family: inherit;
    font-size: inherit;
}

input:focus, button:focus {
    outline: none; }

ul, li {
    list-style: none; }
